.listOfTasks {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}
input {
  font-size: 18px;
  padding: 5px;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
#task {
  width: 400px;
  height: 50px;
  margin-bottom: 10px;
}
.listOfTasks {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.active {
  margin-left: 10px;
  font-weight: bold;
}
.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
#add {
  background-color: lightgreen;
  width: 120px;
  height: 40px;
}
#delete {
  background-color: lightcoral;
  width: 120px;
  height: 40px;
}
ul {
  list-style-type: none;
  padding: 0;
}
#list li {
  font-size: 24px;
  margin: 5px 0;
  cursor: pointer;
}
